In [34]:
from tmdb_modules import (TMDBCastCrewScraper,
                         TMDBMovieScraper, 
                         get_movie_payload, 
                         MultiThreading)
import tmdbsimple as tmdb
import concurrent.futures

# API Key

In [35]:
# put your API key here
tmdb.API_KEY = '03ba24122703f9cff69789b9ebbd342e'

# Get Movies

In [36]:
# instantiate class with the years you want to query
movies = TMDBMovieScraper(years_check=[2022,2023])

In [37]:
# get the movie data
df_movies = movies.get_movies()

Getting data for [2022, 2023]
Getting movie data for 410 movies..
Done

In [38]:
df_movies.head().T

id                                                               76600   ...                                             675353
movie                                          Avatar: The Way of Water  ...                               Sonic the Hedgehog 2
overview              Set more than a decade after the events of the...  ...  After settling in Green Hills, Sonic is eager ...
popularity                                                     1145.586  ...                                            218.233
release_date                                                 2022-12-14  ...                                         2022-04-08
vote_average                                                        7.7  ...                                                7.6
poster_path                            /t6HIqrRAclMCA60NsSmeqe9RmNV.jpg  ...                    /6DrHO1jr3qVrViUO6s6kFiAGM7.jpg
release_year                                                       2022  ...                                               2022
keywords              [loss of loved one, dying and death, alien lif...  ...  [sequel, based on video game, duringcreditssti...
results               [**Avatar: The Way of Water follows in its pre...  ...  [Never saw the first one, nor played any of th...
budget                                                        460000000  ...                                          110000000
genres                             [Science Fiction, Adventure, Action]  ...                [Action, Adventure, Family, Comedy]
production_countries                         [United States of America]  ...                  [Japan, United States of America]
revenue                                                      2320250281  ...                                          402656846
tagline                                              Return to Pandora.  ...                         Welcome to the next level.

[14 rows x 5 columns]

# Get Cast

In [39]:
cast = TMDBCastCrewScraper(df_movies.index)

In [40]:
# get the movie data
df_cast = cast.get_cast_crew()

In [42]:
df_cast.head()

      adult  gender       id  ...                 credit_id order  tmdb_id
0     False       2  1179651  ...  63ac60f91f748b008236aca2     0  1041513
1     False       1   968367  ...  635c12a09ba86a007d777b73     1  1041513
2     False       1  1489764  ...  635c12ba0f526500799ed5c4     3  1041513
3     False       1  2489411  ...  635c12c2a39d0b007a8eee92     4  1041513
4     False       1  1010157  ...  635c12c9a39d0b0082620f7c     5  1041513
...     ...     ...      ...  ...                       ...   ...      ...
6769  False       1  2354142  ...  62f0ce3a1f748b00811603ed     6   818612
6770  False       2   153789  ...  62f0ce7385b105007df0d276     8   818612
6771  False       1  1723913  ...  62f0ce8fa1074b00920f8336     9   818612
6772  False       2    57563  ...  62405e350f365500965f0750     0   950445
6773  False       2  3546204  ...  627cd17b20e6a513bbe6d6b3     4   950445

[6774 rows x 13 columns]